body
{
   margin:6px 6px 6px 6px
}

divclassName1
{
   background-image:radial-gradient(#4DFFFF,#E8FFF5);
   background-position:-250 0px;
   background-repeat:no-repeat;
   border:2px blue dashed;
   color:white;
   font-family:Comic Sans MS,cursive,sans-serif;
   font-size:51px;
   font-weight:640;
   height:200px;
   width:300px
}

div
{
   background-color:blue;
   border-radius:100px;
   -webkit-border-radius:100px;
   -moz-border-radius:100px;
   height:200px;
   width:200px
}

div.ellipse
{
   background-color:orange;
   border-top-color:lightblue;
   border-radius:200px / 150px;
   -webkit-border-radius:200px / 150px;
   -moz-border-radius:200px / 150px;
   height:300px;
   width:400px
}
